
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgba(63,88,161,1) 38%, rgba(105,77,157,1) 88%);
}

.wrapper {
    width: 100vw;
    height: 40vw;
    margin-top: 4%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;

}
