* {
	box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgba(63,88,161,1) 38%, rgba(105,77,157,1) 88%);
	padding: 50px 20px;
}

#wrapper {
	border: 1px solid black;
    height: 75vh;
	min-height: 380px;
	min-width: 700px;
    width: 75vw;
}

.split-horizontal {
	float: left;
	height: 100%;
	width: 50%;
}

.split-vertical {
	border: 1px solid black;
	height: 50%;
	padding: 5px;
	width: 100%;
}

.visualization {
	height: 80%;
	width: 100%;
}

.filter {
	border-top: 1px solid black;
	height: 20%;
	width: 100%;
}
